include ../../basic/doctype/doctype.pug
include ../../basic/html/html.pug
head
	include ../../basic/head/meta/meta.pug
	include ../../basic/head/link/favicon.pug
	include ../../basic/head/link/styles_page.pug
	title 2 страница
body
	.main
		.general
			h1 2 страница
			img(src="../images/image.jpg", alt="Картинка")
			p
				i Текст под картинкой
			br
			ul
				li
					a(href="../") На 1 страницу
				li
					a(href="../page_3") На 3 страницу