include ../basic/doctype/doctype.pug
include ../basic/html/html.pug
head
	include ../basic/head/meta/meta.pug
	include ../basic/head/link/favicon.pug
	include ../basic/head/link/styles_index.pug
	include ../basic/head/js/index.pug
	title Главная страница

body
	.main
		.general
			include ../comps/top-cover/image.pug
			h1 Главная страница
			img(src="images/image.jpg", alt="Картинка")
			p
				i Текст под картинкой
			br
			ul
				li
					a(href="page_2") 2 страница
				li
					a(href="page_3") 3 страница
			br
			include ../comps/footer/footer.pug 