// F O N T

// SERIF Regular
@font-face {
  font-family 'PTSerif-Regular'
  src url('../fonts/PTSerif-Regular.woff2') format('woff2'), url('../fonts/PTSerif-Regular.ttf') format('truetype'), url('../fonts/PTSerif-Regular.svg#PTSerif-Regular') format('svg')
  font-weight 400
  font-style normal
  font-stretch normal
}

// SERIF Bold
@font-face {
  font-family 'PTSerif-Bold';
  src: url('../fonts/PTSerif-Bold.woff') format('woff'), url('../fonts/PTSerif-Bold.ttf') format('truetype'), url('../fonts/PTSerif-Bold.svg#PTSerif-Bold') format('svg')
  font-weight 700
  font-style normal
  font-stretch normal
}

// SANS Regular
@font-face {
  font-family: 'PTSans-Regular'
  src url('../fonts/PTSans-Regular.woff') format('woff'), url('../fonts/PTSans-Regular.ttf') format('truetype'), url('../fonts/PTSans-Regular.svg#PTSans-Regular') format('svg')
  font-weight 400
  font-style normal
  font-stretch normal
}

// SANS Bold
@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans-Bold.woff') format('woff'), url('../fonts/PTSans-Bold.ttf') format('truetype'), url('../fonts/PTSans-Bold.svg#PTSans-Bold') format('svg')
  font-weight 700
  font-style normal
  font-stretch normal
}


f_serif =  'PTSerif-Regular', 'Times New Roman', Georgia
f_sans = 'PTSans-Regular', Arial
f_serif_bold =  'PTSerif-Bold', 'Times New Roman', Georgia
f_sans_bold = 'PTSans-Bold', Arial



h1
	color c_white
	font-family f_serif_bold
	font-size 64px
	letter-spacing 1.95px
	line-height 92px
	text-align center
h2
	font-family f_serif_bold
	font-size 34px
	letter-spacing 1.7px
	line-height 44px
h3
	font-family f_sans_bold
	font-size 24px
	letter-spacing 1px
.t
	font-family f_sans
	font-size 17px
	letter-spacing 0.85px
	line-height 27px
.tm
	font-family f_sans
	font-size 15px
	letter-spacing 0.75px
	line-height 17px
.tc
	font-family f_sans
	font-size 13px
	letter-spacing 0.3px
	line-height 17px
.tc-m
	font-family f_sans
	font-size 11px
	line-height 15px

h1, h2, h3
	color c_black 