h1
	color c_white
	font-family f_serif_bold
	font-size 64px
	letter-spacing 1.95px
	line-height 92px
	text-align center
h2
	font-family f_serif_bold
	font-size 34px
	letter-spacing 1.7px
	line-height 44px
h3
	font-family f_sans_bold
	font-size 24px
	letter-spacing 1px
.t
	font-family f_sans
	font-size 17px
	letter-spacing 0.85px
	line-height 27px
.tm
	font-family f_sans
	font-size 15px
	letter-spacing 0.75px
	line-height 17px
.tc
	font-family f_sans
	font-size 13px
	letter-spacing 0.3px
	line-height 17px
.tc-m
	font-family f_sans
	font-size 11px
	line-height 15px

h1, h2, h3
	color c_black 

div 
	// border 1px solid c_red // Отображение границ
	box-sizing border-box

*
	box-sizing content-box

.main
	box-sizing border-box
	background-color c_grey
	color c_black
	position absolute
	left 0px 
	top 0px
	width _w

.general
	box-sizing border-box
	background-color c_white
	margin 30px 30px 30px 30px
	padding 30px 30px 30px 30px

hr 
	color c_black
	opacity 0.5