body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, header, nav, section, article, aside, footer, figure, figcaption, details, hgroup
		padding 0
		margin 0
		outline 0

html
		height 100%
		font-size 100%

html, body
		line-height 1

html
	font-family sans-serif
	line-height 1.15

html.overflow-hidden
		overflow hidden

header, nav, section, article, aside, footer, figure, figcaption, details, hgroup, main, summary
	display block

h1, h2, h3, h4, h5, h6
		font-size 1em
		line-height 1

figcaption, figure, main
	display block

figure
	margin 1em 40px

hr
	box-sizing content-box
	height 0
	overflow visible

pre
	font-family monospace, monospace
	font-size 1em
	white-space pre-wrap

a
	background-color transparent
	cursor pointer
	text-decoration underline

td
	vertical-align top

focus, ahover, aactive
	outline none
	outline-width 0px

abbr[title]
		border-bottom 1px dotted

b, strong
	font-weight bold

code, kbd, samp 
	font-family monospace, monospace
	font-size 1em

.clearfix
		*zoom 1

.clearfixbefore, .clearfixafter
		display table
		content ""

.clearfixafter
		clear both

code, kbd, pre, samp
		font-family monospace, serif
		font-size 1em

dfn
	font-style italic

mark
	background-color #ff0
	color #000

small
	font-size 80%

sub, sup
	font-size 75%
	line-height 0
	position relative
	vertical-align baseline

sub
	bottom -0.25em

sup
	top -0.5em

audionot[controls]
	display none
	height 0

audio, canvas, video
		display inline-block
		*display inline
		*zoom 1

caption, th
		text-align left

table
		border-collapse collapse
		border-spacing 0

img
	border-style none
	border 0
	vertical-align top
	height auto

input[type="search"]
		box-sizing content-box

input[type="search"]-webkit-search-decoration, input[type="search"]-webkit-search-cancel-button
		-webkit-appearance none

svgnot(root)
	overflow hidden

button, input, optgroup, select, textarea
	font-family sans-serif
	font-size 100%
	line-height 1.15
	margin 0

button, input
	overflow visible
	line-height normal

button-moz-focus-inner, input-moz-focus-inner
		padding 0
		border 0

button, html input[type="button"], input[type="reset"], input[type="submit"]
	-webkit-appearance button
	cursor pointer

button[disabled], html input[disabled]
	cursor default

button, select
	text-transform none

button-moz-focus-inner, [type="button"]-moz-focus-inner, [type="reset"]-moz-focus-inner, [type="submit"]-moz-focus-inner
	border-style none
	padding 0

button-moz-focusring, [type="button"]-moz-focusring, [type="reset"]-moz-focusring, [type="submit"]-moz-focusring
	outline 1px dotted ButtonText

fieldset
	border 1px solid #c0c0c0
	margin 0 2px
	padding 0.35em 0.625em 0.75em

legend
	box-sizing border-box
	border 0
	color inherit
	display table
	max-width 100%
	padding 0
	white-space normal

progress
	display inline-block
	vertical-align baseline

textarea
	overflow auto
	vertical-align top

[type="checkbox"], [type="radio"]
	box-sizing border-box
	padding 0

[type="number"]-webkit-inner-spin-button, [type="number"]-webkit-outer-spin-button
	height auto

[type="search"]
	-webkit-appearance textfield
	outline-offset -2px

[type="search"]-webkit-search-cancel-button, [type="search"]-webkit-search-decoration
	-webkit-appearance none

-webkit-file-upload-button
	-webkit-appearance button
	font inherit

details, menu
	display block

summary
	display list-item

canvas
	display inline-block

template
	display none

[hidden]
	display none

ul, ol
		list-style-type none

q
		quotes "\201C" "\201D" "\2018" "\2019"